<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Quiz
                    </th>
                    <th>
                        Num of Questions
                    </th>
                    <th>
                        Add Question
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                </thead>
                <tr th:each="q: ${quizes}">
                    <form th:action="@{/admin/quizes/{path}(path=${q.getId()})}" method="get">
                        <td th:text="${q.getQuizName()}"></td>
                        <td th:text="${q.getQuestions().size()}"></td>
                        <td>
                            <button class="btn btn-md btn-info btn-block" type="Submit">Add Question</button>
                        </td>
                    </form>
                    <form th:action="@{/admin/quizes/delete/{path}(path=${q.getId()})}" method="post">
                        <td>
                            <button class="btn btn-md btn-danger btn-block" type="Submit">Delete</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>
